AuthUserFile /home/david/.htpasswd
AuthType Basic
AuthName "ING Application Group H1"
Require valid-user

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.php [L,QSA]